<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="new-background-color">
      <ion-back-button defaultHref="solicitudes" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Datos</ion-title>
  </ion-toolbar>
  <!-- <ion-item lines="full" >
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">Seleccione una calificacion a los servicios prestados por SKINCO</font>
    </ion-label>
  </ion-item> -->
</ion-header>

<ion-content>

</ion-content>
