<ion-header>
  <ion-toolbar class="new-background-color">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>Consultas</ion-title>
  </ion-toolbar>

  <ion-item lines="none" >
    <ion-label align=center>
      <font size="1">En esta sección podrá realizar consultas generales de manera inmediata</font>
    </ion-label>
  </ion-item>

</ion-header>

<ion-content>
  <ion-list>

    <div align=center class="div-item">
        <ion-button shape="round" class="ion-button" (click)="comprobanteDePago()" expand="full" color="medium">
          <ion-label align=center class="ion-label-text">
            COMPROBANTE DE PAGO
          </ion-label>
        </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-button" (click)="certificadoLaboral()" expand="full" color="medium">
        <ion-label align=center class="ion-label-text">
          CERTIFICADO LABORAL
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-button" (click)="primasLegales()" expand="full" color="medium">
        <ion-label align=center class="ion-label-text">
          PRIMAS LEGALES
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-button" (click)="primasConvecionales()" expand="full" color="medium">
        <ion-label align=center class="ion-label-text">
          PRIMAS CONVENCIONALES
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-button" (click)="cesantiasEIntereses()" expand="full" color="medium">
        <ion-label align=center class="ion-label-text">
          CESANTÍAS E INTERESES
        </ion-label>
      </ion-button>
    </div>
    
    <div align=center class="div-item">
      <ion-button shape="round" class="ion-button" (click)="miHistorialDePemisos()" expand="full" color="medium">
        <ion-label align=center class="ion-label-text">
          MI HISTORIAL DE PERMISOS
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-button" (click)="mihistorialDeIncapacidad()" expand="full" color="medium">
        <ion-label align=center class="ion-label-text">
          MI HISTORIAL DE INCAPACIDAD
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-button" (click)="miNivelDeEndeundamiento()" expand="full" color="medium">
        <ion-label align=center class="ion-label-text">
          MI NIVEL DE ENDEUDAMIENTO
        </ion-label>
      </ion-button>
    </div>

  </ion-list>
</ion-content>
