<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="new-background-color">
      <ion-back-button defaultHref="solicitudes" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Vacaciones</ion-title>
  </ion-toolbar>
<!-- 
  <ion-item lines="none" >
    <ion-label align=center>
      <font size="2">Lista de solicitudes pendientes</font>
    </ion-label>
  </ion-item> -->
</ion-header>

<ion-content>
  <div align=center >
    <div *ngIf="isLoad">
      <ion-list>
        <form (ngSubmit)="onSubmit()">

          <div aling=center class="item-solicitud"> 
            <ion-label>
              Días disponible:
            </ion-label>
          </div>
          <ion-card>
            <div aling=center class="texto-solicitud" > 
              <ion-label>
                {{listaInfoVacaciones.CantDias}}
              </ion-label>
            </div>
          </ion-card>
          
          <div aling=center class="item-solicitud"> 
            <ion-label>
              Días a tomar:
            </ion-label>
          </div>
          <ion-card>
            <div aling=center class="texto-solicitud" > 
              <ion-input [(ngModel)]="aprobForm.DiaSolicitud" name="DiaSolicitud" type="number"></ion-input>
            </div>
          </ion-card>
          
          <div aling=center class="item-solicitud"> 
            <ion-label>
              Fecha de inicio:
            </ion-label>
          </div>
          <ion-card>
            <div aling=center class="texto-solicitud" > 
              <!-- <ion-label>
                Aqui fecha de inicio
              </ion-label> -->
              <div *ngIf="isDateLoad"> 
                <ion-label position="floating"></ion-label>
                <ion-datetime [(ngModel)]="aprobForm.FechaSolicitud" name="FechaSolicitud" displayFormat="DD/MM/YYYY" min="{{fechaInfo}}" max="2100" placeholder="{{fechaInfo}}" ></ion-datetime>
              </div>
            </div>
          </ion-card>
          
          <ion-card >
            <ion-list class="new-background-color-div-aprobaciones">
              <ion-card class="item-solicitud">
                <ion-label class="texto-solicitud-dos">
                  {{listaInfoVacaciones.Encabezado}}
                </ion-label>
              </ion-card>
              <ion-card class="item-solicitud">
                <ion-label class="texto-solicitud-dos">
                  {{listaInfoVacaciones.Periodo1}}
                  <div style = "visibility: hidden">" "</div>
                  
                </ion-label>
              </ion-card>
              <ion-card class="item-solicitud">
                <ion-label class="texto-solicitud-dos">
                  {{listaInfoVacaciones.Periodo2}}
                  <div style = "visibility: hidden">" "</div>
                </ion-label>
              </ion-card>
              <ion-card class="item-solicitud">
                <ion-label class="texto-solicitud-dos">
                  {{listaInfoVacaciones.Periodo3}}
                  <div style = "visibility: hidden">" "</div>
                </ion-label>
              </ion-card>
              <ion-card class="item-solicitud">
                <ion-label class="texto-solicitud-dos">
                  {{listaInfoVacaciones.Periodo4}}
                  <div style = "visibility: hidden">" "</div>
                </ion-label>
              </ion-card>
              <ion-card class="item-solicitud">
                <ion-text>
                  <ion-label class="texto-solicitud-dos">
                    {{listaInfoVacaciones.Periodo5}}
                    <div style = "visibility: hidden">" "</div>
                  </ion-label>
                </ion-text>
              </ion-card>
              <ion-card class="item-solicitud">
                <ion-label class="texto-solicitud-dos">
                  DIAS SOLICITADOS {{listaInfoVacaciones.DiasSolicitados}}
                </ion-label>
              </ion-card>
            </ion-list>
          </ion-card>
        </form>
          
        <ion-button shape="round" color="medium" class="item-solicitud-boton" expand="block" (click)="eviarSolicitudVacaciones()">EVIAR SOLICITUD</ion-button>
      </ion-list>
      
    </div>
  </div>
</ion-content>
