<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="new-background-color">
      <ion-back-button defaultHref="consultas" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Cesantias e Intereses</ion-title>
  </ion-toolbar>

  <ion-item lines="full" *ngIf="isLoad">
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">{{listaInfoCesantias.Valor}}</font>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list *ngIf="isLoad">
      <ion-item lines="none">
        <ion-label class="texto-solicitud">
          {{listaInfoCesantias.Cesantias}}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="texto-solicitud">
          {{listaInfoCesantias.Intereses}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
