<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="mis-pendientes" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle de la Solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-item lines="none" >
      <ion-label align=center>
        <font size="2" class="whiteSpaceClass">En esta seccion pueden visualizar la informacion detallada de la solicitud que registro</font>
      </ion-label>
    </ion-item>
    <div align=center >
        <div *ngIf="isLoad">

          <ion-list>
            <div align=left class="item-solicitud"> 
              <ion-label>
                Tipo de Solicitud:
              </ion-label>
            </div>
            <ion-card>
              <div align=left class="texto-solicitud" > 
                <ion-label>
                  {{solicitudDetalle.TipoSolicitud}}
                </ion-label>
              </div>
            </ion-card>
            <div align=left class="item-solicitud"> 
              <ion-label>
                Funcionario Asignado:
              </ion-label>
            </div>
            <ion-card>
              <div align=left class="texto-solicitud" > 
                <ion-label>
                  {{solicitudDetalle.UAsignado}}
                </ion-label>
              </div>
            </ion-card>
            <div align=left class="item-solicitud"> 
              <ion-label>
                Descripcion:
              </ion-label>
            </div>
            <ion-card>
              <div align=left class="texto-solicitud" > 
                <ion-label>
                  {{solicitudDetalle.DespEntrada}}
                </ion-label>
              </div>
            </ion-card>
            <div align=left class="item-solicitud"> 
              <ion-label>
                Respuesta:
              </ion-label>
            </div>
            <ion-card>
              <!-- <div align=left class="texto-solicitud" > 
                <ion-label>
                  aqui hay texto
                </ion-label>
              </div> -->
              <ion-item>
                <ion-textarea
                  disabled
                  readonly
                  value="">
                </ion-textarea>
              </ion-item>
            </ion-card>

              <ion-button shape="round" class="item-solicitud-boton" expand="block" (click)="regresarAMisPendientes()">REGRESAR</ion-button>
          </ion-list>

        </div>
    </div>
</ion-content>
