<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>cartelera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="full" >
      <ion-label align=center>
        <font size="1" class="whiteSpaceClass">En esta sección puede ver la lista de publicaiones, si hace clic sobre algún enunciado puede descargar el archivo adjunto</font>
      </ion-label>
    </ion-item>
    <div align=center >
        <ion-item class="ion-padding" lines="none">
          <ion-label>Fecha de publicacion:</ion-label>
        </ion-item>
    </div>
  </ion-card>
</ion-content>
