<ion-header>
  <ion-toolbar class="new-background-color">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>Solicitudes</ion-title>
  </ion-toolbar>

  <ion-item lines="none" >
    <ion-label align=center>
      <font size="2">Lista de solicitudes pendientes</font>
    </ion-label>
  </ion-item>

</ion-header>

<ion-content>
  <ion-list>

    <div align=center class="div-item">
        <ion-button shape="round" class="ion-color-button" (click)="auxiliosConvencionales()" expand="full">
          <ion-label align=center class="ion-label-text">
            AUXILIOS CONVENCIONALES
          </ion-label>
        </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="auxiliosEstudio()" expand="full">
        <ion-label align=center class="ion-label-text">
          AUXILIOS ESTUDIO
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="vacaciones()" expand="full">
        <ion-label align=center class="ion-label-text">
          VACACIONES
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="cesantias()" expand="full">
        <ion-label align=center class="ion-label-text">
          CESANTÍAS
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="reportesDeNomina()" expand="full">
        <ion-label align=center class="ion-label-text">
          REPORTES DE NÓMINA
        </ion-label>
      </ion-button>
    </div>
    
    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="camboBeneficiarioSeguridadSocial()" expand="full">
        <ion-label align=center class="ion-label-text">
          CAMBIO BENEFICIARIO SEGURIDAD SOCIAL
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="reporteIncapacidadYCalamidad()" expand="full">
        <ion-label align=center class="ion-label-text">
          REPORTE INCAPACIDAD Y CALAMIDADES
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="citasPresenciales()" expand="full">
        <ion-label align=center class="ion-label-text">
          CITAS PRESENCIALES
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="calificarServicios()" expand="full">
        <ion-label align=center class="ion-label-text">
          CALIFICAR SERVICIOS
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="actualizarDatosPersonales()" expand="full">
        <ion-label align=center class="ion-label-text">
          ACTUALIZAR DATOS PERSONALES
        </ion-label>
      </ion-button>
    </div>

    <div align=center class="div-item">
      <ion-button shape="round" class="ion-color-button" (click)="certificadoDeIngresoYRetencion()" expand="full">
        <ion-label align=center class="ion-label-text">
          CERTIFICADO DE INGRESOS Y RETENCIÓN
        </ion-label>
      </ion-button>
    </div>

  </ion-list>
</ion-content>
