.ion-color-button{
    --background:#ea9e84;
    margin:4px 15px 4px 15px;
}
.new-background-color{
    --background:#f18919;
}

.div-item{
    padding: 2px 8px 2px 8px;
}
.ion-label-text{
    font-size: 10px;
}