<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>aprobaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="full" >
      <ion-label align=center>
        <font size="1" class="whiteSpaceClass">Pendiente por aprobaciones</font>
      </ion-label>
    </ion-item>
    <ion-item lines="full">
      <div>
        <ion-list>
          <ion-label>
            <font size=2>Radicado:</font>
          </ion-label>
          <ion-label>
            <font size=2>Estado:</font>
          </ion-label>
          <ion-label>
            <font size=2>Tipo Solicitud:</font>
          </ion-label>
          <ion-label>
            <font size=2>Fecha:</font>
          </ion-label>
        </ion-list>
      </div>
    </ion-item>
    <ion-item lines="none">
      <div>
      </div>
    </ion-item>
  </ion-card>
</ion-content>
