.item-aprobaciones{
    padding: 0px;
    margin: 5px;
    margin-right: 10px;
}
.item-aprobaciones-uno{
    padding: 0px;
    margin: 5px;
    margin-left: 100px;
}
.new-background-color-div-aprobaciones{
    background-color: #c5c7d1;
}