<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="solicitudes" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
      <ion-title >Requisitos {{nombreSolicitud_2}}</ion-title>
  </ion-toolbar>

  <ion-item lines="full" >
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">Lista de Requisitos</font>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <div *ngIf="isLoad">

        <ion-item *ngFor="let texto of infoParametros">
          <ion-label class="titulo" *ngIf="texto.Tipo === 'titulo'">{{texto.Nombre}}</ion-label>
          <ion-label class="subtitulo" *ngIf="texto.Tipo === 'subtitulo'">{{texto.Nombre}}</ion-label>
          <ion-label class="requsito" *ngIf="texto.Tipo === 'requisito'">{{texto.Nombre}}</ion-label>

        </ion-item>
      </div>
      <div *ngIf="!isLoad" align=center>
        <ion-label>{{infoParametros}}</ion-label>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
