.whiteSpaceClass{
    white-space: normal;
}
.new-background-color{
    --background:#f18919;
}

.titulo{
    font-size: large;
    white-space: normal;
}
.subtitulo{

    font-size: medium;
    white-space: normal;
}

.requsito{
    font-size: small;
    white-space: normal;

}