<ion-header>
  <ion-toolbar class="new-background-color" *ngIf="isLoad">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="aprobaciones" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Radicado: {{aprobacionesDetalle.Codigo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-item lines="none" >
      <ion-label align=center>
        <font size="2" class="whiteSpaceClass">En esta seccion pueden visualizar la informacion detallada de la solicitud que registro</font>
      </ion-label>
    </ion-item>
    <div align=center >
        <div *ngIf="isLoad">

          <ion-list>
            <form (ngSubmit)="enviarAprobaciones()">
              <div align=left class="item-solicitud"> 
                <ion-label>
                  Numero Radicado:
                </ion-label>
              </div>
              <ion-card>
              <div align=left class="texto-solicitud" > 
                <ion-label>
                  {{aprobacionesDetalle.Codigo}}
                </ion-label>
              </div>
            </ion-card>

            <div align=left class="item-solicitud"> 
              <ion-label>
                Usuario Solicitud:
              </ion-label>
            </div>
            <ion-card>
            <div align=left class="texto-solicitud" > 
                <ion-label>
                  {{aprobacionesDetalle.USolicitud}}
                </ion-label>
              </div>
            </ion-card>
            
            <div align=left class="item-solicitud"> 
              <ion-label>
                Descripcion:
              </ion-label>
            </div>
            <ion-card>
              <div align=left class="texto-solicitud" > 
                <ion-label>
                  {{aprobacionesDetalle.DespEntrada}}
                </ion-label>
              </div>
            </ion-card>
            
            <div align=left class="item-solicitud"> 
              <ion-label>
                Estado:
              </ion-label>
            </div>
            <ion-card>
              <div>
                <ion-select #c slot="end" [(ngModel)]="aprobForm.Estado" name="Estado" (ionChange)="changeEstadoListener(c.value)" [value]=" ">
                  <ion-select-option *ngFor="let parametros of listadoEstadosParametrosArreglo" value="{{parametros}}">{{parametros}}</ion-select-option>
                </ion-select>
              </div>
            </ion-card>

            <ion-card *ngIf="isEstadoRedireccionar">
              <div>
                <div align=left class="item-solicitud"> 
                  <ion-label>
                    Redireccionar:
                  </ion-label>
                </div>
                <ion-select slot="end" [(ngModel)]="aprobForm.Redireccionar" name="Redireccionar"  [value]=" ">
                  <ion-select-option  *ngFor="let usuarios of listadoParametrosUsuarios" value="{{usarios.Nombre}}">{{usarios.Nombre}}}</ion-select-option>
                </ion-select>
              </div>
            </ion-card>

            <div align=left class="item-solicitud"> 
              <ion-label>
                Respuesta:
              </ion-label>
            </div>
            <ion-card>
              <ion-item>
                <ion-textarea
                  name="Respuesta"
                  [(ngModel)]="aprobForm.Respuesta"
                  value="">
                </ion-textarea>
              </ion-item>
            </ion-card>
          </form>
              <ion-button shape="round" class="item-solicitud-boton" expand="block" (click)="enviarAprobaciones()">ENVIAR</ion-button>
          </ion-list>

        </div>
    </div>
</ion-content>
