.item-solicitud{
    padding: 5px;
    margin: 5px;
}
.texto-solicitud{
    padding-left: 10px;
    margin-left: 10px;
    margin: 5px;
}

.whiteSpaceClass{
    white-space: normal;
}

.new-background-color{
    --background:#f18919;
}
.item-solicitud-boton{
    padding: 0px;
    margin: 8px;
}