<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="solicitudes" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>Citas presenciales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="isLoad">
    <!-- <div align=center class="div-item" *ngFor="let cita of doctoresCitas" >
      <ion-button shape="round" class="ion-button" (click)="citasDetalles(cita)" expand="full" color="medium">
        <ion-label align=center class="ion-label-text">
          {{cita}}

        </ion-label>

      </ion-button>
  </div> -->

  <div>
    <ion-img [src]="picImage"></ion-img>
  </div>

  </ion-list>
</ion-content>
