<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="new-background-color">
      <ion-back-button defaultHref="consultas" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Primas convencionales</ion-title>
  </ion-toolbar>

  <ion-item lines="full" >
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">Ver detalle en convencion colectiva</font>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content >
  <ion-card *ngIf="isLoad">
    <ion-list>
      <ion-item lines="none">
        <ion-label class="texto-solicitud">
          {{listaInfoPrimas.Navidad}}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="texto-solicitud">
          {{listaInfoPrimas.SemanaSanta}}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="texto-solicitud">
          {{listaInfoPrimas.Carestia}}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="texto-solicitud">
          {{listaInfoPrimas.Vacaciones}}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="texto-solicitud">
          {{listaInfoPrimas.Extracto}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
