<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="new-background-color">
      <ion-back-button defaultHref="consultas" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Primas legales</ion-title>
  </ion-toolbar>

  <ion-item lines="full" *ngIf="isLoad">
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">{{listaInfoPrimas.Valor}}</font>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card *ngIf="isLoad">
    <div align=center class="texto-solicitud">

      <ion-label>
        {{listaInfoPrimas.Prima}}
      </ion-label>
    </div>
  </ion-card>
</ion-content>
