<ion-header>
  <ion-toolbar class="new-background-color">

    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="login" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons> -->

    <ion-title>Inicio</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content> 

  <ion-item lines="none" >
    <ion-label align=center>
      <font size="2">Seleccione la opción que desea realizar</font>
    </ion-label>
  </ion-item>

  <ion-grid fixed>
  
    <ion-row class="ion-align-items-center">
      <ion-col>
        <div align=center>
            <img (click)="misPendientes()" align=center class="img" src="../../../assets/imagenes/btn_mis_pendientes.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">MIS PENDIENTES</font>
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div align=center>
            <img (click)="solicitudes()" align=center class="img" src="../../../assets/imagenes/btn_solicitudes.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">SOLICITUDES</font>
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div align=center>
          <img (click)="consultas()" align=center class="img" src="../../../assets/imagenes/btn_consultas_y_reportes.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">CONSULTAS</font>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <div align=center>
          <img (click)="cartelera()" align=center class="img" src="../../../assets/imagenes/btn_cartelera.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">CARTELERA</font>
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div align=center>
          <img (click)="politicas()" align=center class="img" src="../../../assets/imagenes/btn_politicas.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">POLÍTICAS</font>
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div align=center>
          <img (click)="preguntas()" align=center class="img" src="../../../assets/imagenes/btn_preguntas_frecuentes.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">PREGUNTAS</font>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <div align=center>
          <img (click)="cambiarContrasena()" align=center class="img" src="../../../assets/imagenes/btn_cambiar_contrasena.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">
                CAMBIAR CONTRASEÑA
              </font>
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div align=center>
          <img (click)="aulaVirtual()" align=center class="img" src="../../../assets/imagenes/btn_aula_virtual.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">AULA VIRTUAL</font>
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div align=center>
            <img (click)="aprobaciones()" align=center class="img" src="../../../assets/imagenes/btn_aprobaciones.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">APROBACIONES</font>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col>
        <div align=center>
          <img (click)="chat()" align=center class="img" src="../../../assets/imagenes/Chat.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">CHAT</font>
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div align=center>
          <img (click)="formularioCovid()" align=center class="img" src="../../../assets/imagenes/btn_covid.png" alt="">
        </div>
        <div align=center>
          <ion-label>
            <font size="1">FORMULARIO COVID</font>
          </ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div align=center>
          <!-- <button>
            <ion-icon name="add" size="large"></ion-icon>
          </button> -->
        </div>
        <div align=center>
          <ion-label>
            <font size="1"></font>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
