<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="new-background-color">
      <ion-back-button defaultHref="consultas" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi nivel de endeudamiento</ion-title>
  </ion-toolbar>

  <ion-item lines="full" >
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">Se presenta porcentaje de endeudamiento al ultimo corte</font>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card>
    <div align=center class="texto-solicitud">

      <ion-label>
        Su endeudamiento es de 'nivel de endeudamiento' es mayor al esperado. No tiene posibilidad de credito
      </ion-label>
    </div>
  </ion-card>
</ion-content>