<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>Lista de Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" >
      <ion-label align=center>
        <font size="2">ista de solicitudes pendientes</font>
      </ion-label>
    </ion-item>
    <div align=center >
      <textarea name="ListaDeSolicitudesPendientes" id="" cols="30" rows="10">
      </textarea>
    </div>
  </ion-card>
</ion-content>
