<ion-header>
  <ion-toolbar  class="new-background-color">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>Lista de Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none" >
      <ion-label align=center>
        <font size="2">Lista de solicitudes pendientes</font>
      </ion-label>
    </ion-item>
    <div align=center >
      <!-- <textarea name="ListaDeSolicitudesPendientes" id="" cols="30" rows="10">
      </textarea> -->
      <ion-card >
        <div *ngIf="isLoad">

          <ion-item *ngFor="let solicitudes of listaSolicitudes">
            <!-- <ion-row>
              <p>{{solicitudes.Codigo}}</p>
              <p>{{solicitudes.Fecha}}</p>
              <h1>{{solicitudes.TipoSolicitud}}</h1>
            </ion-row> -->

            <ion-label (click)="onClickItem(solicitudes)">
              <h2 class="text">
                <small>
                {{solicitudes.Codigo}}-{{solicitudes.Fecha}}-{{solicitudes.Estado}}-{{solicitudes.Hora}}
              </small>
              </h2>
              <h3>  
                {{solicitudes.TipoSolicitud}}
              </h3>
            </ion-label>
          </ion-item>
        </div>



      </ion-card>
    </div>
  </ion-card>
</ion-content>
