<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="new-background-color">
      <ion-back-button defaultHref="consultas" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Historial de Permisos</ion-title>
  </ion-toolbar>

  <!-- <ion-item lines="full" >
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">Valor al cierre del mes anterior</font>
    </ion-label>
  </ion-item> -->
</ion-header>

<ion-content>
  <ion-card>
    <div align=center class="texto-solicitud">

      <ion-label>
        No tiene permisos reportados
      </ion-label>
    </div>
    <div align=center class="texto-solicitud">

      <ion-label>
        No tiene mas permisos
      </ion-label>
    </div>
  </ion-card>
</ion-content>