<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="new-background-color">
      <ion-back-button defaultHref="consultas" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi Historial de Permisos</ion-title>
  </ion-toolbar>

  <!-- <ion-item lines="full" >
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">Valor al cierre del mes anterior</font>
    </ion-label>
  </ion-item> -->
</ion-header>

<ion-content>
  <ion-card *ngIf="isLoad">
    <div  *ngFor="let permiso of Permisos">
      <div align=center class="texto-solicitud">
        <ion-label >
          {{permiso}}
        </ion-label>
      </div>
    </div>

    <div align=center class="texto-solicitud">

      <ion-label>
        {{listaInfoPermisos.TotalPermisos}}
      </ion-label>
    </div>
  </ion-card>
</ion-content>