<ion-header>
  <ion-toolbar class="new-background-color">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>

    <ion-title>Cambiar Contrasena</ion-title>
  </ion-toolbar>
  <ion-item lines="full" >
    <ion-label align=center>
      <font size="2" class="whiteSpaceClass">En esta seccion puede cambiar la contrasena para ingresar al portal</font>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content>
  <div class="container" class="ion-padding">

    <form>
  
      <ion-item class="item-solicitud">
          <ion-label position="floating">Contraseña Anterior</ion-label>
          <div>
            <ion-input  name="password" 
              [(ngModel)]="passwordForm.claveAnterior" 
              [type]="passwordTypeInput_1" 
              autofocus="true"
              required>
            </ion-input>
          </div>
          <button  item-end class="btn_eye_icon"  (click)="togglePasswordMode(1)">
            <div>
              <ion-icon  [name]="(passwordTypeInput_1 === 'text')?'eye':'eye-off'"></ion-icon>
            </div>
          </button>
      </ion-item>
  
      <ion-item class="item-solicitud">
          <ion-label position="floating">Nueva Contraseña: </ion-label>
          <div>
            <ion-input  name="password" 
              [(ngModel)]="passwordForm.claveNueva" 
              [type]="passwordTypeInput_2" 
              autofocus="true"
              required>
            </ion-input>
          </div>
          <button  item-end class="btn_eye_icon"  (click)="togglePasswordMode(2)">
            <div>
              <ion-icon  [name]="(passwordTypeInput_2 === 'text')?'eye':'eye-off'"></ion-icon>
            </div>
          </button>
      </ion-item>
      
      <ion-item class="item-solicitud">
        <ion-label position="floating">Confirmar Contraseña: </ion-label>
        <div>
          <ion-input  name="password" 
            [(ngModel)]="passwordForm.reClaveNueva" 
            [type]="passwordTypeInput_3" 
            autofocus="true"
            required>
          </ion-input>
        </div>
        <div >
          <button  item-end class="btn_eye_icon">
            <ion-icon (click)="togglePasswordMode(3)"  [name]="(passwordTypeInput_3 === 'text')?'eye':'eye-off'"></ion-icon>
          </button>
        </div>
      </ion-item>
      
      <ion-row>
        <ion-col>
          <ion-button shape="round" class="item-solicitud-boton" type="submit" color="medium" expand="block" (click)="rPassword()">Cambiar Contraseña</ion-button>
        </ion-col>
      </ion-row>
    </form>
    
  </div>
</ion-content>
